body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../images/wallpapers/fortnite.png");
    background-size: 100vw 100vh; 
    background-repeat: no-repeat;
}
body, *{
    cursor: url("../images/cur_files/fortnite.cur"), auto;
}
#vista-taskbar {
    background-image: url("../images/taskbar_textures/fortnite_taskbar.PNG");
    background-repeat: repeat-x;   /* Tile horizontally */
    background-size: auto 100%;    /* Match the taskbar height */
    background-position: center;
}
#start-button img {
    content: url("../images/start_icons/fortnite_start.png");
    height: 37px;
    width: 37px;
}
.nav-active {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.30) 0%,rgba(255, 245, 100, 0.25) 20%,rgba(255, 220, 30, 0.30) 40%,rgba(255, 180, 0, 0.45) 40%,rgba(255, 205, 0, 0.95) 100%) !important;
    color: #FFF200;
    transform: scale(1.03);
}
#mainHeader {
    background-image: url("../images/fortnite_banner.png");
    background-size: cover
}
#navigationMenu, #mainContent {
    background-image:  url(../images/1Gkqf3X.jpeg);
    background-size: cover

}
.navbar-titles {
    background-image: url("../images/taskbar_textures/fortnite_taskbar.PNG");
    background-repeat: repeat-x;   /* Tile horizontally */
    background-size: auto 100%;    /* Match the taskbar height */
    background-position: center;
    border-radius: 6px;
    color: blue;
}
